body {
    background-color: aquamarine;
    height: 100%;
    margin: 0;
  }
  
  #wrapper {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 60%;
    background-color: aqua;
    border: 5px;
    border-radius: 7px;
    margin: 0 auto;
  }
  
  #quote {
    margin: 50px 20px 0px 20px;
  }
  
  #author {
    float: right;
    margin-right: 20px;
  }
  
  #clickables {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  
  #tweet-quote {
    margin-left: 10px;
  }
  
  #new-quote {
    margin-right: 10px;
  }
  